* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f2f2;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:50px;
    background: #fcf9f9;
}

.logo {
    font-size: 22px;
    font-weight: 600;
    color: #262424;
}

nav a {
    margin:20px;
    text-decoration: none;
    color: #6c757d;
    font-size: 16px;
}

.user-btn {
    background: #d6ecf8;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 14px;
    color: #3399cc;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.hero-text {
    max-width: 550px;
}

.hero-text h1 {
    font-size: 42px;
    color: #444;
    line-height: 1.3;
    margin-bottom: 20px;
}

.hero-text h1 span {
    color: #1da1f2;
}

.hero-text p {
    color: #7d8b99;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero-text button {
    background: #1da1f2;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}

.hero-image img {
    width: 420px;
}